.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: auto;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    row-gap: 20px;
}
.auth-container {
    display: flex;
    column-gap: 20px;
}
.btn-back {
    align-self: flex-start;
    margin-left: 30%;
}
.modelo-check {
    display: flex;
    column-gap: 10px;
}