.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: auto;
}
.navbar {
    background-color: rgba(197, 197, 197, 0.35);
    align-items: center;
    padding: 30px;
    min-height: 100px;
    border-bottom: 1px solid rgba(186,186,186,0.78);
}
.navbar-profile {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    row-gap: 20px;
}
.auth-container {
    display: flex;
    column-gap: 20px;
}
.content-container {
    background-color: rgba(197, 197, 197, 0.35);
    width: -webkit-fill-available;
    height: 100%;
    margin: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    border-radius: 10px;
    border: 1px solid rgba(186,186,186,0.78);
}
.welcome {
    height: unset;
    width: unset;
}
.btn-back {
    display: flex;
}
.modelo-check {
    display: flex;
    column-gap: 10px;
}
.eventos {
    justify-content: unset;
}
.eventos > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}
.evento {
    background-color: white;
    display: flex;
    flex: 1;
    min-width: 30%;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    row-gap: 10px;
    border-radius: 10px;
    border: 1px solid rgba(186,186,186,0.78);
    color: black;
}
.evento:hover {
    background-color: #f0f0f0;
}
.evento div {
    display: flex;
}
.evento > p {
    font-weight: bold;
}
.evento div p {
    display: contents;
    font-weight: 500;
}
.profile-container {
    display: flex;
    flex-direction: row;
    width: calc(100% - 40px);
    height: 100%;
    margin: 20px;
    column-gap: 20px;
}
.profile-container > div {
    justify-content: unset;
    align-items: unset;
    width: unset;
    margin: 0;
}
.name {
    margin: 20px;
}
.name p {
    margin: 0;
}
.name ~ p {
    font-weight: 500;
}